<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>

<div class="text-center max-w-sm rounded overflow-hidden shadow-lg">
  <h1 class="text-3xl font-black">This is a styled header inside a styled card element.</h1>
</div>